/* * {
    background-color: #111432;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex-nav{
  display: flex;
  flex-direction: row ;
  list-style: none;
  justify-content: space-evenly;
  background-color: #111432;
  height: 5rem;
  align-items: center;
  border-bottom: 2px solid gray;
    
}
 ul{
list-style: none;
 }
 li, li a, li a:hover{
    text-decoration: none;
    color: white;

 }
  */

.reduxStyle{
  display: flex;
  gap: 30px; 
  margin-top: 40px;
}